<center><h1> Submit a Meme </h1></center>
<div class="image_form">  
  <%= simple_form_for @image do |f| %>
    <%= f.input :caption %>
    <%= f.input :author %>
    <%= f.input :picture %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-success' %>
  <% end %>
</div>