<!DOCTYPE html>
<html>
  <head>
    <title>Quiz1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header clss="row">
        <div>
          LOGO
        </div>
        <div class="col-4">
          Welcome to Robyn's Attempt at Quiz One!
        </div>
      </header>

    <%= yield %>
  </body>
</html>
