<!DOCTYPE html>
<html>
  <head>
    <title>Quiz1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <header class="row">
        <div class="col-3">
            <div class="logo">
              <br />
              BOOTCAMP
              <br />
              QUIZ
              </div>
        </div>
        <div class="col-4 slogan">
          How will she do? We will see!
        </div>
        <div class="col-5 links">
            <%= link_to 'Contribute', '#' %>
            <%= link_to 'About', '#' %>
        </div>
      </header>
      <hr />
      <br class="clear" />

      <div class="container">
        <%= yield %>
      </div>

      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-6 date-created">
              August 2019
            </div>
            <div class="col-6 footer-blurb">
              Created by <a href="https://robynwang.netlify.com">Robyn Wang</a><br />
            </div>
          </div>
        </div>
      </div>

  </body>
</html>
